.assortment {
    color: #A1A1A1;
    line-height: 1.3em;
    &__title-main {
        border-left: 3px solid #f78912;
        padding: 0 10px 0 10px;
        color: #2A3F76;
        font-size: 27px;
        line-height: 1.1em;
        font-weight: 400;
        margin-top: 30px;
    }
    &__desc {
        p {
            margin: 0;
            margin-bottom: 10px;
        }
    }
    &__content {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
    }
    &__text-box {
        padding:  10px 25px 10px 25px;
        height: auto;
    }
    &__content-title {
        border-left: 3px solid #f78912;
        padding: 0 10px 0 10px;
        color: #2A3F76;
        font-size: 21px;
        line-height: 1.1em;
        font-weight: 400;
        margin-top: 5px;
    }
    &__text {
        margin-top: 15px;
        text-align: justify;
    }
}