.attention {
    margin-top: 20px;
    &__text {
        text-align: center;
        padding: 30px 0 30px 0;
        font-size: 23px;
        font-weight: 500;
        border-top: 2px solid #f78912;
        border-bottom: 2px solid #f78912;
        border-radius: 0 30px 0 30px;
        background-color:  #f7881291;
        color: #fff;
    }
}