.corusel {
    &_main {
        transition: 0.5s all;
        margin-top: 113px;
        height: 350px;
        width: 100%;
        .corusel__wrapper_main {
            position: relative;
            margin: 0 auto;
            transition: 0.5s all;
            & a {
                width: 100%;
                z-index: 10;
            }
            img {
                max-height: 350px;
                width: 100%;
            }
            &:hover {
                .slick-prev, .slick-next {
                    opacity: 0.5;
                    transition: 0.5s all;
                }
            } 
        }
        .slick-prev, .slick-next {
            transition: 0.5s all;
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            background-color: rgb(0, 0, 0);
            position: absolute;
            opacity: 0;
            top: 50%;
            transform: translateY(-50%);
            z-index: 11;
            width: 50px;
            height: 120px;
            & img {
                width: 27px;
                height: 45px;
            }
            &:hover {
                opacity: 0.8!important;
            }
        }
        .slick-next {
            left: auto;
            right: 12px;
            
        }
        
        .slick-slide {
            display: flex;
            justify-content: center;
            align-items:center;
        }
        .slick-dots {
            list-style-type: none;
            display: flex;
            width: 70px;
            justify-content: space-between;
            margin: 0 auto;
            padding: 0;
            button {
                background-color:#fff;
                border: 2px gray solid;
                width: 16px;
                height: 16px;
                border-radius: 100%;
                font-size: 0;
            }
        }
        .slick-active {
            button {
                background-color: gray;
            }
            
        }
        
    }

    &_products {
        transition: 0.5s all;
        margin-top: 30px;
        height: auto;
        width: 100%;
        .corusel__title {
            border-top: 1px solid #ddd;
            &-text {
                border-left: 3px solid #f78912;
                padding: 0 10px 0 10px;
                color: #2A3F76;
                font-size: 27px;
                line-height: 1.1em;
                font-weight: 400;
                margin-top: 30px;
            }
        }
        .corusel__wrapper-products {
            border: 1px #ddd solid;
            padding: 0;
            margin-top: 15px;
            .corusel__wrapper-product {
                position: relative;
                margin: 0 auto;
                transition: 0.5s all;
                border-right: 1px #ddd solid;
                .corusel__wrapper-row {
                    padding: 15px;
                    .corusel_products-link {
                        display: block;
                        text-decoration: none;
                        width: 100%;
                        height: 100%;
                    }
                    img {
                        max-height: 350px;
                        width: 100%;
                        border: 1px #ddd solid;
                    }
                    &:hover {
                        .slick-prev, .slick-next {
                            opacity: 0.5;
                            transition: 0.5s all;
                        }
                    }
                    .corusel__product-title {
                        border-left: 3px solid #f78912;
                        padding: 0 10px 0 10px;
                        color: #2A3F76;
                        font-size: 21px;
                        line-height: 1.1em;
                        font-weight: 400;
                        margin-top: 10px;
                    }
                    .corusel__product-desc {
                        color: #999999;
                        text-align: justify;
                        font-size: 15px;
                        line-height: 1.25em;
                        margin-top: 10px;
                    }
                }
                
                
                
            }
            
        }
        .slick-prev, .slick-next {
            transition: 0.5s all;
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            background-color: #999999;
            position: absolute;
            opacity: 0.5;
            top: -42px;
            right: 0;
            z-index: 11;
            width: 30px;
            height: 30px;
            color: #fff;
            & img {
                width: 27px;
                height: 45px;
            }
            &:hover {
                opacity: 0.8!important;
            }
        }
        .slick-prev {
            left: auto;
            right: 35px;
            
        }
        
        .slick-slide___ {
            display: flex;
            justify-content: center;
            align-items:center;
        }
        .slick-dots {
            list-style-type: none;
            display: flex;
            width: 70px;
            justify-content: space-between;
            margin: 0 auto;
            padding: 0;
            button {
                background-color:#fff;
                border: 2px gray solid;
                width: 16px;
                height: 16px;
                border-radius: 100%;
                font-size: 0;
            }
        }
        .slick-active {
            button {
                background-color: gray;
            }
            
        }
        
    }
    
    
    
}



