.hamburger {
    width: 35px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    z-index: 100;
    transition: 0.5s all;
    & span {
        width: 40px;
        background-color: #f78912;
        padding-bottom: 2px;
        transition: 0.5s all;
    }
    &_active {
        & span {
            margin-bottom: -2px; 
            &:nth-child(1) {
                transform: translateY(3px) rotate(-45deg);
            }     
            &:nth-child(2) {
                display: none
            }
            &:nth-child(3) {
                transform: translateY(3px) rotate(45deg);
            }
        }
       
    }
    

}