.marquee {
    margin-top: 25px;
    padding: 0;
    .col-md-2 {
        padding-right: 0;
    }
    .col-md-10 {
        padding-left: 0;
    }
    &__href, &__text {
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none; 
        color: #fff;
        &:hover {
            color: #fff;
            text-decoration: none;
        }
    }
    &__href {
        height: 45px;
        background-color: #f78912;
        font-weight: 500;  
    }
    &__text {
        background-color: #A1A1A1;
        & p {
            white-space: nowrap; 
            display: inline;
        }
        & span {
            font-size: 14px;
        }
    }
}