.search {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: rgba(0,0,0, 0.9);
    z-index: 130;
    position: fixed;
    top: -100vw;
    right: 0;
    transition: 0.3s all;
    overflow: hidden;
    opacity: 0;
    &__close-box {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 129;
    }
    &_active {
        top: 0;
        overflow: auto;
        opacity: 1;
    }
   
    &__row {
        width: 400px;
        height: 130px;
        border: 3px solid #f78912;
        background-color: #fff;
        margin: 0 auto;
        position: relative;
        display: flex;
        align-items: center;
        z-index: 131;
    }
    &__close {
        color: #f78912;
        font-size: 45px;
        font-weight: 900;
        line-height: 15px;
        position: absolute;
        
        right: 0;
        top: 0;
        &:hover {
            cursor: pointer;
            color: #c76c0c;
        }

    }
    & form {
        width: 85%;
        margin: 0 auto;
        display: flex;
        & input {
            width: 85%;
            margin: 0;
            height: 35px;
            padding-left: 15px;
            background-color: #fff;
            border: 2px solid #929292;
            border-radius: 5px 0 0 5px;
            border-right: none;
            outline: none;
            margin: 0;
            &:active {
                border: 2px solid #f78912;
                outline: none;
            }
            &:focus {
                border: 2px solid #f78912;
                border-right: none;
            }
        }
        & button {
            height: 35px;
            margin: 0;
            width: 15%;
            border-radius: 0 5px 5px 0;
            display: block;
            border: 2px solid #929292;
            background-color: #f78912;
            transition: 0.5s all;
            &:hover {
                border: 2px solid #f78912;
                color: #f78912;
                background-color: #fff;
            }
        }
    }
}