@import 'fonts.scss';
::-moz-selection{
    color: #fff;
    background-color: #f78912;
}
::selection{
    color: #fff;
    background-color: #f78912;
}
::-webkit-selection {
    color: #fff;
    background-color: #f78912;
}

html {
    font-family: 'Roboto';
}


@import 'hamburger.scss';
@import 'header.scss';
@import 'corusel.scss';
@import 'marquee.scss';
@import 'promo.scss';
@import 'main-btn.scss';
@import 'attention.scss';
@import 'assortment.scss';
@import 'guidelines.scss';
@import 'footer.scss';
@import 'media.scss';
@import 'search.scss';



